 @tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

body {

  font-family: 'Poppins', sans-serif;
  width: 100%;
  height: 100%;
  background-color: white;
  font-size: 100%;

}
body::-webkit-scrollbar {
  display: none;
}

.bodyColor{
  background-color: 
  linearGradient(to left top, rgb(255, 228, 230), rgb(204, 251, 241));
}
/* .slick-dots li.slick-active button:before {
  color:White !important;
}

.slick-dots li{
  width: 2px !important;

  top:90%;
}

*/


.slick-dots{
  filter: drop-shadow(0px 3px 18px rgba(0, 0, 0, 0.2));
  height: fit-content;  
}
.slick-dots li.slick-active button:before {
  width: 8.8px;
  height: 8.8px;
  color: #EBEBEB !important;

}
.slick-dots li button:before{
  /* font-size: 7px !important; */
  color:  #D9D9D9 !important;
  height: 5.28px !important;
  width: 5.8px !important;
  opacity: 100 !important;

}
.slick-dots li{
  margin: 0px !important;
  opacity: 100 !important;
}
.slick-dots{
  width: 88px;
  top: 80% !important;
}
.slick-slide{
  /* width:  !important; */
}

.slick-slide>div{
  padding: 0px !important;
}

.slick-track{
  width: 100%;
}
.slick-track div{
  /* margin-left: 1px; */
}
.slick-active{
  margin: 1px;
}
.slick-dots{
  @apply
  relative
  top-56
}

.slick-dots li.slick-active button:before{
  font-size: 10px !important;
  opacity: 100 !important;
}
.slick-list {
  margin: 0 -10px;
}
.slick-slide>div {
  padding: 0 10px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
